CMakeFiles/*
*.cmake
CMakeCache.txt
QTwoC
QTwoCpp
/Task4/QuestionTwo/Cpp/Makefile
/Task4/QuestionTwo/C/Makefile
.vscode
.vs_code
CMakeFiles/*
CMakeFiles
main
*.o
*/QuestionThree
stderr.txt
stdout.txt
build
*.deb
node_modules